/*Estilos Gerais*/

body {
	font-family: Arial, Helvetica, sans-serif; 
}


/*Header*/

.header {
	position: fixed;
	padding: 10px 0;
}

.header_menu ul li {
	display: inline-block;
	margin-right: 30px;
}

.header_menu ul li a {
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 12px;
	line-height: 20px;
	left: 150px;
}

.header_menu ul li a:hover {
	color: #aaaaa3;
}

.menu {

}

/*Introdução*/