* {
	margin: 0px;
	padding: 0px;
	/*box-sizing: border-box;*/
}
a {
	text-decoration: none;
	display: block;
}
.navbar {
	width: 100%;
	background: #1b1c48;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
}

.flex {
	display: flex;
	height: 35px;
	justify-content: space-between;
	align-items: center;
}
ul {
	list-style: none;
}
li a img {
	max-height: 30px;
	margin-left: 10px;
}
.logo img {
	max-height: 50px;
}
li {
	
}
.navbarprincipal a {
	padding: 20px 0;
	text-transform: uppercase;
	
	width: 145px;
	text-align: center;
	/*margin:15px;*/
}
.navbarprincipal a:hover {
	border-bottom: 4px solid black;
	margin-bottom: -4px;
	color: black;
	background-color: #e2dddd87;
	font-weight: bold;

}
.banner {
	background-image: url(img/fundo_banner.png);
	height: 450px;
	position: relative;
    top: 6;
}
.banner p {
	text-align: center;
	color: white;
	font-size: 15px;
	padding-top: 100px;

}
.banner h1 {
	padding-top: 40px;
	text-align: center;
	color: white;
	font-size: 40px;
}